/* Place drawer and main next to each other. */
.event-manager__content {

  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  height: 100vh;

  .event-manager__main {

    display: block;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 30px;

  }

}
