<div class="mdc-layout-grid__inner">
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        <div class="mdc-textfield mdc-textfield--fullwidth">
            <input type="text" class="mdc-textfield__input" value="Pre-filled value">
        </div>
    </div>
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        <div class="mdc-textfield mdc-textfield--fullwidth">
            <input type="number" class="mdc-textfield__input" value="100">
        </div>
    </div>
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        <div class="mdc-textfield mdc-textfield--fullwidth">
            <input type="number" class="mdc-textfield__input" value="80">
        </div>
    </div>
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">

        <select class="mdc-select">
            <option value="open" default selected>Open</option>
            <option value="closed">Closed</option>
        </select>

    </div>
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        <button class="mdc-button mdc-button--compact mdc-button--raised mdc-button--accent">
            Save
        </button>
    </div>
</div>
