<div class="mdc-layout-grid__inner">
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
        Ticket Name
    </div>
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        Price
    </div>
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        Qty
    </div>
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        Status
    </div>
    <div class="event-manager__datatable__cell mdc-layout-grid__cell mdc-layout-grid__cell--span-2">
        <button class="mdc-button mdc-button--compact mdc-button--raised mdc-button--primary"
                ng-click="$ctrl.edit($ctrl.data)">
            Edit
        </button>
    </div>
</div>
