.mdc-toolbar {
  height: 100px;
}
.mdc-toolbar-fixed-adjust {
  margin-top: 100px;
}
.mdc-permanent-drawer {
  border: 0;
}
.mdc-permanent-drawer__toolbar-spacer {
  border: 0;
}
.mdc-list-group {
  padding: 0 16px;

  h1 {
    padding: 0 16px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  i {
    margin-right: 0;
  }
}
