<aside class="mdc-persistent-drawer" ng-class="{ 'mdc-persistent-drawer--open': $ctrl.navbarShown }">
    <nav class="event-manager__navbar mdc-persistent-drawer__drawer">
        <div class="mdc-list-group">

            <h1 class="mdc-typography--subheading2">Live</h1>
            <nav class="mdc-list mdc-list--two-line mdc-list-item__text__secondary">

                <a class="mdc-list-item mdc-persistent-drawer--selected" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>

            </nav>

            <h1 class="mdc-typography--subheading2">Draft</h1>
            <nav class="mdc-list mdc-list--two-line mdc-list-item__text__secondary">

                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>

            </nav>

            <h1 class="mdc-typography--subheading2">Closed</h1>
            <nav class="mdc-list mdc-list--two-line mdc-list-item__text__secondary">

                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>
                <hr class="mdc-list-divider">
                <a class="mdc-list-item" href="#">
                    <div>
                        <p class="mdc-typography--subheading1">My Big Event</p>
                        <p class="mdc-typography--caption">Aug 15 2018</p>
                    </div>
                    <i class="material-icons mdc-list-item__end-detail" aria-hidden="true">
                        keyboard_arrow_right
                    </i>
                </a>

            </nav>

        </div>
        <div class="event-manager__navbar--footer">
            <img src="/app/resources/picatic-logo-color-lightbg.png">
        </div>
    </nav>
</aside>
