<aside class="mdc-persistent-drawer" ng-class="{ 'mdc-persistent-drawer--open': $ctrl.navbarShown }">
    <nav class="event-manager__navbar mdc-persistent-drawer__drawer">
        <div class="mdc-list-group">

            <h3 class="mdc-typography--subheading2">Live</h3>
            <em-navbar-list events-map="$ctrl.eventsMap.active" selected-event="$ctrl.selectedEvent"></em-navbar-list>

            <h3 class="mdc-typography--subheading2">Draft</h3>
            <em-navbar-list events-map="$ctrl.eventsMap.draft" selected-event="$ctrl.selectedEvent"></em-navbar-list>


            <h3 class="mdc-typography--subheading2">Closed</h3>
            <em-navbar-list events-map="$ctrl.eventsMap.closed" selected-event="$ctrl.selectedEvent"></em-navbar-list>

        </div>
        <div class="event-manager__navbar--footer">
            <img src="/app/images/picatic-logo-color-lightbg.png">
        </div>
    </nav>
</aside>
