.event-manager__navbar {

  background-color: $em-grey;
  padding-bottom: 20px;
  padding-top: 30px;

}

.event-manager__navbar__header {

  display: flex;
  height: 100px;
  width: 60px;

  div {

    align-items: center;
    display: flex;
    flex: 1 1 auto;

  }

}

.event-manager__navbar--footer {

  align-items: flex-end;
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;

}

.mdc-persistent-drawer {
  border: 0;
  height: 100vh;
}

.event-manager__event-list__item {

  overflow: hidden;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.mdc-list-group {
  padding: 0 16px;

  h3 {
    padding: 0 16px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  i {
    margin-right: 0;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

  .event-manager__navbar__header {

    background-color: $mdc-theme-accent;
    width: 240px;

    div {

      span {
        padding-left: 12px;
      }

    }

  }
}
